/* body {
  background: black
}

.movies{
  width:100%;
  display:flex;
  flex-wrap:wrap;

}

.movies li{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  background: gray
}

.movies li img{
  max-width: 300px;
  border-radius: 12px;

}

.movies li h2{
  color: white;
  font-size: 1.8em;
  padding: 15px 10px 0;
  margin-top: auto;
  
} */

/* .movieposter{
  position: relative;
  
} */
/* 
.gridtile {
  margin: "8px";
  border: "1px solid red"
} */

.movieconsole {


  width: 85%;
  height: 50px;
  background-color: #00d5ff;
  /* Center vertically and horizontally */
  position: absolute;
  top: 20%;
  left: 8%;
  margin: -25px 0 0 -25px;
}

.moviel {
  position: relative;
  overflow: auto;
  display: inline;
  float: left;
  height: 800px;
  top: 30px;
  width: auto
}


.favorites {
  position: relative;
  top: 1200px;
  height: 800px;

  left: 8%;
}

.reviews {
  position: relative;
  top: 378px;
  left: 700px;
}

.moviecard {
  width: 500px;
  height: 700px;

}

.movieposter {
  position: relative;
  max-height: 400px;
  height: auto;
  max-width: 300px;
  width: auto;
  left: -40px;


}



.movietitle {
  font-size: 12px;
  position: relative;
  width: 80%;
  text-align: center;
  z-index: 4;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.809);
  font-weight: bolder;
  color: white;
  left: -10px;
}

.Search {
  position: relative;
  left: 27%;
  top: 10px;
  width: 40%
}

.options {
  /* display: flex; */

}

.favorites {
  width: 400px;
}

.favmovietitle {
  position: relative;
  left: -40px;
}

.reviewset {
  background: grey;
  border-radius: 10px;
  color: white;
  width: 500;
  padding-left: 10px;
  padding-bottom: 5px;
}

.reviewlist {
  position: relative;
  height: 500px;
  overflow: auto;
  width: 800px;
  left: -150px;
}

.movieelement {
  position: relative;
  left: 180px;
}