

/* body {
  background: black
}

.movies{
  width:100%;
  display:flex;
  flex-wrap:wrap;

}

.movies li{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  background: gray
}

.movies li img{
  max-width: 300px;
  border-radius: 12px;

}

.movies li h2{
  color: white;
  font-size: 1.8em;
  padding: 15px 10px 0;
  margin-top: auto;
  
} */

/* .movieposter{
  position: relative;
  
} */
/* 
.gridtile {
  margin: "8px";
  border: "1px solid red"
} */
.loginstuff{
  position: relative;
  top:100px;
  left:45%;
}

.otherloginbutton{
  position: relative;
  left:48%;
  top:100px;
  height:35px;
  width:80px;
}

.passwordstuff{
  position: relative;
  top:100px;
  left:45%;

}

.signupstuff{
  position: relative;
  top:100px;
  left:45%;

}
#username{
  position: relative;

  left:-100px;
}
.username{
  position: relative;
  top:-30px;
  left:80px;
}

#password{
  position: relative;

  left:-90px;
}
#passwordtextbox{
  position: relative;
  top:-30px;
  left:80px;
}
.passwordconfirmation{
  position: relative;

  left:-290px;
}
#passwordconfirmationtextbox{
  position: relative;
  top:-30px;
  left:80px;
}

.signbutt{
  position: relative;
  left:48%;
  top:100px;
  height:35px;
  width:80px;
}
.loginbutt{
  position: relative;
  left:50%;
  top:100px;
  height:35px;
  width:80px;
}

.logintitletext{
  position: relative;
  top:10px;
  color:rgb(255, 255, 255);
  z-index: 3;
  text-align: center;
}
.signuptitletext{
  position: relative;
  top:10px;
  color:rgb(255, 255, 255);
  z-index: 3;
  text-align: center;
  /* background-color: pink; */
}
.signupheader{
  position: absolute;
  width: 100%;
  height: 73px;
  /* left: 100px; */
  top: 0px;
  
  background: #000000;
}

.heading{
  position: absolute;
  width: 100%;
  height: 73px;
  /* left: 100px; */
  top: 0px;
  
  background: #000000;
}
.siteheading{
  position: absolute;
width: 207px;
height: 42px;
left: 111px;
top: 16px;
color:white;
width:400px;

}



.movieconsoleheading{
  position: absolute;
width: 100%;
height: 73px;
top: 0px;

background: #000000;
}


.movieconsole {
  width: 100%;

  /* max-width: 3600px; */
  height: 1100px;
  border-radius: 15px;
  border: 25px #000000a0;
  top:300px;
  /* Center vertically and horizontally */
  position: relative;
  /* left:300px; */
  /* top: 100px; */
  /* left: 15%; */
  display:flex;
  margin-bottom: 100px;

  justify-content: center;
  
  /* margin: -25px 0 0 -25px; */
}

.moviel {
  position: relative;
  overflow: auto;
  top: 100px;
  left:-7%;
  margin-bottom: 100px;
}
.moviel::-webkit-scrollbar {
  display: none;
}


.favimageList{
  
  position:relative;
  width: 700px;
  height:1700px;
  overflow-y: auto;
  top:-100px;
  /* left:700px; */
  transform: rotate(-90deg)  translateY(-60%);
  transform-origin: right top;
  color:white;
  margin:auto;
  /* left:-60%; */
  
}

.innercontain{
  transform: rotate(90deg);
  position: relative;


}

.favimageList::-webkit-scrollbar {
  display: none;
}

.favorites {
  position: relative;


  top: 200px;
  height: 500px;
  width:100%;
  /* left:12%; */
}

.favmovielist{
  overflow: auto;
  position: relative;
  width:90%;
  
}
.favmovielist::-webkit-scrollbar {
  display: none;
}
.favmoviecard{
  width:300px;
  height:400px;
}


.reviewlist {
  position: relative;
  height:1700px;
  /* top:-140px; */
  /* height:90%; */

  /* left:13%; */
  overflow: auto;
  width: 500px;
  transform: rotate(-90deg) translateY(-55%);
  transform-origin: right top;
  margin:auto;

}

.reviewlist::-webkit-scrollbar {
  display: none;
}

.homepagerev{
  overflow: auto;
  position: relative;
  width:90%;
  overflow-x: hidden;

}
.homepagerev::-webkit-scrollbar {
  display: none;
}


.reviewset {
  background: white;
  border-radius: 10px;
  color: white;
  width: 440px;
  height:300px;
  position: relative;
  /* top:100px; */
  border:1px solid black;
  position:relative;
  /* left:100px; */
  /* left:-100px; */
  /* padding-bottom: 5px;
  padding-top: 3px; */
  /* margin:100px; */
}


.reviewl{
  transform: rotate(90deg);
  position:relative;
  width:400px;
  /* left:-130px; */
  top:-150px;
  left:-100px;
  margin:200px;
}

.reviewmovie{
  top:60px;
  position: relative;
  left:30px;
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
width:380px;

color: #000000;

}
.reviewbod{
  top:100px;

  position: relative;
  left:40px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

}

.trashcan{
  position: relative;
  top:-10px;
  left:230px;
}
.readonlyrevrate{

  position: absolute;
  left:30px;
  top:20px;


}
.siteicon{
  position: relative;
  top:15px;
  left:30px;
  width:50px;
}


.reviews {
  position: relative;
  top:300px;
  height: 500px;
  width:100%;
  /* left:300px; */
  /* top: 230px; */
  /* left: 800px; */
  /* left:300px;
  top:-350px;  */
  
}




.moviecard {
  width: 300px;
  height: 400px;

}

.movieposter {
  position: relative;
  max-height: 600px;
  height: auto;
  max-width: 400px;
  width: auto;
  /* left: -40px; */


}


.newreviewcontainer{
  position: relative;
  top: 700px;
  left:50%;
  /* top:-600px;
  left:1000px;
  width:800px; */
}

.reviewtext{
  width:560px;
  height:100px;
}

.submitreview{
  position: relative;
  top:40px;
  left:-210px;
  width:90px;
  height: 30px;
  
}
.reviewrating{
  position:relative;
  top:-110px;
  left:-570px;

}
.products{
  position: absolute;
  width: 100%;
  height: 73px;
  /* left: 100px; */
  top: 0px;
  
  background: #000000;
}

.productsNav{
  position: absolute;
  width: 70px;
  height: 80px;
  left: 50px;
  top:5px;
  font-size: 25px;
  z-index: 3;
  
}


#uploadform{
  position: relative;
  top:80px;
  left:30px;
}
#uploadavatar
.profilepicinput{
  font-size: larger;
    left:30px;




}
/* label{
  position: relative;
  background:black;
  color:white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-family: sans-serif;
  cursor: pointer;
  margin-top: 1rem;
} */



.profilepicinputbutt{
  /* position: relative;
  background:black;
  color:white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-family: sans-serif;
  cursor: pointer;
  margin-top: 1rem; */
  position:relative;
  left:-253px;
  top:30px;
}
.avatardiv{
  position: relative;
  left:109px;
  width:150px;
  top:5px;
  z-index: 100;
}
.avatar{
  position: relative;
  width:65px;
  height:65px;
  border-radius: 50px;
  object-fit:cover;

  z-index: 100;
}
.reviewavatar{
  position: relative;
  top:40px;
  width:65px;
  height:65px;
  border-radius: 50px;
  object-fit:cover;

}

.commreviewtext{
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  top:20px;
  left:85px;
  
  color: #000000;
}
.logoutbutt{
  position: absolute;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  top:20px;
  height:30px;
  width: 90px;
  background-color: transparent;
  color: white;
  font-weight: bolder;
  text-align: center;
  left:80px;
  z-index: 10;
}
.logoutbuttcontainer{
  position: relative;
  left:85%;
  top:-50px;
  
}

.commreviewandusername{
  position: relative;
  top:-10px;
  left:20px;
}
.reviewss{
  position:relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  left:80px;
  top:-15px;
  
  
  color: #000000;
}

.readonlyratings{
  position: relative;
  left:390px;
  top:-80px;
  
  /* top:-10px; */
}


.stuff{
  position: relative;
  left:-400px;
}
.reviewimage{
position: absolute;
width: 298px;
height: 378px;
left:50%;

top: 210px;

background: #C4C4C4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.reviewcontainer{
  position: absolute;
width: 569px;
height: 388px;
left: 50%;
top: 243px;
overflow: auto;


}
/* .reviewcontainer::-webkit-scrollbar {
  overflow-x: none;
} */


.commreviews{
  /* color:white;

  top:-650px;
  left:1000px;
  width:500px;
  background-color: rgba(2, 76, 76, 0.707);
  padding:20px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-radius: 15px; */

  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 519px;
height: 209px;
top: 200;


}

.reviewtitle{
  position:relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 36px;
  top:20px;
  /* left:240px; */
  text-align: center;
  
  color: white;
}


.movietitle {
  font-size: 16px;
  position: relative;
  width: auto;
  max-width: 300px;

  text-align: center;
  z-index: 4;
  top:60px;
  background-color: rgba(0, 0, 0, 0.964);
  padding:10px;
  font-weight: bolder;
  color: white;
  /* left: -100px; */
  height:auto;
  line-height: 20px;

}
.likenreviewicons{
  position: relative;
  left:-10px;
  top:2px;
  width:300px;
  border-radius: 5px;
  z-index: 6;
  padding-top: 10px;
  /* max-width: 280px; */
  background-color: #000000;
}

.Search {
  position: relative;
  top: 10px;
  left:40%;

  width: 600px;
  border-radius: 10px;
  height:50px;
  width: 450px; 
  background-color: black;
  color:white;
  border-color: #000000;
  font-size: 30px;
}

.options {
  /* display: flex; */

}


.favmoviehead{
  text-align: center;
  font-size: 40px;

}

.reviewhead{
  text-align: center;

}
.favmovietitle {
  position: relative;
  /* left: -40px; */
  margin:0;
  padding:0;
  left:150px;
  
}





.movieelement {
  position: relative;
  /* left:60px; */
  /* width:500px; */
}